services:
#  pihole:
#    container_name: pihole
#    image: pihole/pihole:latest
#    network_mode: 'host'
#    environment:
#      TZ: 'Europe/Berlin'
#      WEBPASSWORD: 'password'
#      FTLCONF_webserver_api_password: 'password'
#      FTLCONF_dns_upstreams: 1.1.1.1;8.8.4.4
#      FTLCONF_webserver_paths_prefix: '/pihole'
#      FTLCONF_webserver_port: 81
#      WEBHOME: 'http://server.fritz.box/pihole/admin/'
#      WEBROOT: '/admin'
#    volumes:
#      - './pihole-persistant-storage/etc-pihole:/etc/pihole'
#      - './pihole-persistant-storage/etc-dnsmasq.d:/etc/dnsmasq.d'
#    cap_add:
#      - NET_ADMIN
#    restart: unless-stopped
  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - './nginx-config/nginx.conf:/etc/nginx/nginx.conf:ro'
      - './www:/www/data'
    restart: unless-stopped
    extra_hosts:
      server.fritz.box: "192.168.178.6"
  syncthing:
    image: syncthing/syncthing
    container_name: syncthing
    hostname: my-syncthing
    environment:
      - PUID=0
      - PGID=0
    volumes:
      - /dev/zfs-pool-1/syncthing-data:/var/syncthing
      - /root/homerserver-compose-services/syncthing-config:/var/syncthing/config
    ports:
      - 8384:8384 # Web UI
      - 22000:22000/tcp # TCP file transfers
      - 22000:22000/udp # QUIC file transfers
      - 21027:21027/udp # Receive local discovery broadcasts
    restart: unless-stopped
    healthcheck:
      test: curl -fkLsS -m 2 127.0.0.1:8384/rest/noauth/health | grep -o --color=never OK || exit 1
      interval: 1m
      timeout: 10s
      retries: 3
  iperf3:
    image: networkstatic/iperf3
    container_name: iperf3-server
    command: -s
    ports:
      - "5201:5201/tcp"
      - "5201:5201/udp"
    restart: unless-stopped
  adguard:
    image: adguard/adguardhome
    ports:
      - 53:53/tcp # plain dns over tcp
      - 53:53/udp # plain dns over udp
      - 3000:3000/tcp # initial setup web interface
    container_name: adguardhome
    restart: unless-stopped
    volumes:
      - ./adguard/work:/opt/adguardhome/work
      - ./adguard/conf:/opt/adguardhome/conf
